<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="utf-8">
        <title>Spring Blog</title>
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/public/css/dashboard.css" />

        <!-- jquery-te -->
        <link rel="stylesheet" href="/public/jqueryte/jquery-te-1.4.0.css">        
    </head>

    <body>

        <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Spring Blog Administration</a>
            <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-sm btn-outline-secondary">Sign Out</button>
                    </form>
                </li>
            </ul>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/">
                                    <span data-feather="home"></span>
                                    Manage posts
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/write">
                                    <span data-feather="file"></span>
                                    Write a new post
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" layout:fragment="main-content">

                </main>

            </div>
        </div>

        <script src="/webjars/jquery/jquery.min.js"></script>
        <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- jquery-te -->
        <script src="/public/jqueryte/jquery-te-1.4.0.min.js"></script>

        <script layout:fragment="script">

        </script>

    </body>

</html>
