<!DOCTYPE html>

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}" xmlns:th="http://www.thymeleaf.org">

    <body>
        <main role="main" class="container" layout:fragment="main-content">
            <div class="row">
                <div class="col-md-8 blog-main">

                    <div class="blog-post">
                        <h2 class="blog-post-title" th:text="${post.title}">Title</h2>
                        <p class="blog-post-meta"><span th:text="${#dates.format(post.publishDate, 'dd-MMM-yyyy')}"/> by <a href="#" th:text="${post.author.name}">Mark</a></p>

                        <p th:text="${post.body}">This blog post shows a few different types of content that's supported and styled with Bootstrap. 
                            Basic typography, images, and code are all supported.</p>

                    </div><!-- /.blog-post -->

                </div><!-- /.blog-main -->

                <aside class="col-md-4 blog-sidebar">

                    <div class="p-3">
                        <h4 class="font-italic">Archives</h4>
                        <ol class="list-unstyled mb-0">
                            <li th:each="title: ${titles}"><a th:href="@{/post/{id}(id=${title.id})}" th:text="${title.title}">March 2014</a></li>
                        </ol>
                    </div>

                </aside><!-- /.blog-sidebar -->
            </div><!-- /.row -->
        </main>
    </body>

</html>
