<!DOCTYPE html>

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="utf-8">
        <title>Spring Blog</title>
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
        <!-- Custom styles for this template -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
        <link href="/public/css/blog.css" rel="stylesheet">
    </head>

    <body>

        <div class="container">
            <header class="blog-header py-3">
                <div class="row flex-nowrap justify-content-between align-items-center">
                    <div class="col-4 pt-1">
                    </div>
                    <div class="col-4 text-center">
                        <a class="blog-header-logo text-dark" href="/">Spring Blog</a>
                    </div>
                    <div class="col-4 d-flex justify-content-end align-items-center">
                        <div sec:authorize="${isAuthenticated()}">
                            <form th:action="@{/logout}" method="post">
                                <input type="submit" class="btn btn-sm btn-outline-secondary" value="Sign Out"/>
                            </form>
                        </div>
                        <div sec:authorize="${isAnonymous()}">
                            <a class="btn btn-sm btn-outline-secondary" href="/login">Sign in</a>
                        </div>
                    </div>
                </div>
            </header>            
        </div>

        <br/>

        <main role="main" class="container" layout:fragment="main-content">

        </main>

        <br/>

        <footer class="blog-footer">
            <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            <p>
                <a href="#">Back to top</a>
            </p>
        </footer>

        <script src="/webjars/jquery/jquery.min.js"></script>
        <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>

    </body>

</html>
